<div id="<%= dom_id pet %>">
  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= pet.bio %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= pet.color %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= pet.breed %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= pet.species %>
  </p>

</div>
