<h1>Demos</h1>

<ul>
  <li><%= link_to "Demo 1: Post con preview", new_post_path %></li>
  <li><%= link_to "Demo 2 y 3: Listado de tareas", tasks_path %></li>
  <li><%= link_to "Demo 4: Nueva mascota", new_pet_path %></li>
  <li><%= link_to "Demo 5: Usuarios y mascotas", new_user_path %></li>
  <li><%= link_to "Demo 6: Usuarios y mascotas v2", new_dynamic_users_path %></li>
</ul>