<!DOCTYPE html>
<html>
  <head>
    <title>FormDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> %>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "Home", root_path, id: "back-to-home" %>
    <p class="notice" style="color: green"><%= notice %></p>
    <%= yield %>
  </body>
</html>
